*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
.body{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:100vh;
    background:cornflowerblue;
    margin:0;
}
.gameboard{
    background:wheat;
    width: 95vmin;
    height:95vmin;
    display:grid;
    grid-template-rows: repeat(25,1fr);
    grid-template-columns: repeat(25,1fr);
}
.head{
    background-color:red;
    border-radius:20%;
    border:.25vmin dotted black;
}
.food{
    background-color: purple;
    border-radius:50%;
    border:2px solid black;
}